body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #d0d1d3;
    background: url(https://media.istockphoto.com/id/993164128/de/foto/dunkel-blaue-tafel.jpg?s=2048x2048&w=is&k=20&c=4Jb3vRW_UMHq9u4qIHoRkjiJxcxpNSCY1bEY0ZH6idQ=) top no-repeat;
    background-size: auto;
}

h1 {
    color: #ffffff;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.8rem;
    text-transform: uppercase;    
}

.news {
    background-color: #ffffff;
    padding: 50px 0px 32px;
}

.news:nth-child(even) {
    background-color: #f1f4fc;
}

article {
    width: 768px;
    margin: 0px auto 32px;
    padding: 6px 16px;
    border-bottom: 1px solid #808080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    margin-bottom: 5px;
}

h2.supernews::before {
    content: "New ";
    color: blue;
}

.article-meta {
    color: rgb(134, 142, 150);
    font-size: 14px;
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

article p {
    font-size: 15px;
    font-style: italic;
}

footer {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #e9edf0;
}

footer .links{
    padding-top: 10px;
    margin-bottom: 50px;
}

footer .links >a {
    color: #636b6f;
    padding: 0px 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

footer .links >a:hover {
    color: #808080;
}

.copyright {
    padding-top: 25px;
    border-top: 1px solid lightgray;
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}